body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #282c34; 
    color: #ffffff; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 20px ;
    margin: 40px ;
    padding: 20px;
    background-color: #3c404d; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
}

h1 {
    color: white; 
}

.instructions {
    font-size: 10px;
    margin-bottom: 10px;
    color: #adbac7;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.card {
    width: 180.8px;
    height: 150.2px;
    background-color: #565c6f;
    border-radius: 05px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card img {
    width: 50%;
    height: 10px;
    visibility: hidden; /* Hide images by default */
    display: block;
}

.card.show img {
    visibility: visible; /* Show image when card is flipped */
}

#start-game {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

#start-game:hover {
    background-color: #43a047; /* Darker on hover */
    transform: scale(1.05); /* Slightly enlarges on hover */
}
